@use '../../../../../assets/styles/colors.scss' as *;
@use '../../../../../assets/styles/variables.scss' as *;

.menuOptions {
	display: flex;
	flex-direction: column;
	gap: $spacing-basic * 2;
	width: auto;
	height: auto;
	padding: 32px;
	border-radius: 8px;
	background-color: $grey-light;
	z-index: 1000;

	&:focus,
	&:focus-visible {
		outline: none;
	}

	&__label {
		font-size: 0.75rem;
		font-weight: 600;
	}
}
