@use '~/assets/styles/variables.scss' as *;
@use '~/assets/styles/mixins.scss' as *;

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 2 * $padding-basic;
  box-sizing: border-box;

  @include breakpoint(xlarge) {
    padding: 0;
  }
}
