@use '../../../assets/styles/mixins.scss' as *;
@use '../../../assets/styles/wrappers.scss' as *;
@use '../../../assets/styles/variables.scss' as *;

.prints {
	display: grid;
	gap: $padding-basic * 4;

	@include breakpoint(large) {
		grid-template-columns: repeat(2, minmax(300px, 1fr));
		gap: $padding-basic * 10;
	}

	&__item {
		@include breakpoint(large) {
			&:nth-child(even) {
				margin-top: $padding-basic * 15;
			}
		}
	}
}
