@use '../../../assets/styles/variables.scss' as *;
@use '../../../assets/styles/mixins.scss' as *;

.layout {
	@include flex($justify-content: center);
	min-height: 100vh;
	padding-left: calc(100vw - 100%);
}
