@use '../../../../../assets/styles/colors.scss' as *;
@use '../../../../../assets/styles/mixins.scss' as *;

.menuIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border-radius: 100%;
	cursor: pointer;

	@include breakpoint(large) {
		flex-direction: column;
	}

	&__circle {
		width: 6px;
		height: 6px;
		background-color: $primary-dark;
		border-radius: 100%;
	}

	&:hover,
	&--clicked {
		background-color: $grey-light;
	}

	&:hover {
		@include transition($element: background-color);
	}
}
