@use '../../../assets/styles/colors.scss' as *;
@use '../../../assets/styles/mixins.scss' as *;
@use '../../../assets/styles/variables.scss' as *;

.gallery {
	&__heading {
		padding: 0 $padding-basic;

		@include breakpoint(large) {
			padding: initial;
		}
	}

	&__item {
		position: relative;
		display: block;
		flex: 1 0 0%;
		overflow: hidden;
		border-radius: 8px;
		background-color: transparent;

		&:hover {
			z-index: 2;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $primary-color;
			opacity: 0;
			mix-blend-mode: multiply;
			pointer-events: none;
			border-radius: inherit;
			z-index: 1;
			@include transition(opacity);
		}

		&:hover .gallery-image {
			transform: scale(1.06);
		}

		&:hover::after {
			opacity: 1;
			background-color: $primary-color;
		}

		&--last {
			display: inline-block;
			flex: none;
		}
	}

	&__row {
		display: flex;
		gap: 16px;
		margin-bottom: 16px;

		&--last {
			display: block;
		}
	}

	&__enter {
		opacity: 0;

		&--active {
			opacity: 1;
			transition: opacity 400ms ease-in;
		}
	}

	&__exit {
		opacity: 1;

		&--active {
			opacity: 0;
			transition: opacity 400ms ease-out;
		}
	}
}
