@import '../../../assets/styles/mixins.scss';

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 8px;

	@include breakpoint(large) {
		grid-template-columns: repeat(3, 1fr);
		gap: 16px;
	}

	&__heading {
		padding: 0 $padding-basic;

		@include breakpoint(large) {
			padding: initial;
		}
	}

	&__item {
		position: relative;
		overflow: hidden;
	}

	&__enter {
		opacity: 0;

		&--active {
			opacity: 1;
			transition: opacity 400ms ease-in;
		}
	}

	&__exit {
		opacity: 1;

		&--active {
			opacity: 0;
			transition: opacity 400ms ease-out;
		}
	}
}
