@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/mixins.scss';

.langSelect {
	&__btn {
		@include flex($direction: row);
		width: 120px;
		padding: $padding-basic;
		margin: 0;
		background: none;
		font-family: inherit;
		font-size: inherit;
		border: 2px solid $grey-light;
		border-radius: $border-radius;
		@include transition();

		&:focus,
		&:focus-visible {
			border-color: $primary-color;
			outline: none;
		}

		&:hover {
			color: $primary-color;
		}

		&-option {
			position: absolute;
			top: 60px;
			background: $grey-light;
			z-index: 1000;
		}
	}

	&__icon {
		height: 20px;
		margin-right: 4px;
		border: 1px solid $grey-light;
		border-radius: 100%;
	}
}
