@use '../../../assets/styles/colors.scss' as *;
@use '../../../assets/styles/variables.scss' as *;
@use '../../../assets/styles/mixins.scss' as *;

.card {
	position: relative;
	flex-grow: 1;
	@include flex();
	overflow: hidden;
	background-color: $primary-dark-20;

	&:hover {
		background-color: none;

		.card__bg {
			transform: scale(1.15);
			background-color: $primary-color;
			background-blend-mode: multiply;
		}
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-color: rgba($primary-color, 0);
		@include transition();
		z-index: -1;
	}

	&__details {
		padding: $padding-basic;
		color: rgba(253, 253, 253, 1);
		text-align: center;
	}

	&__title {
		margin-top: 0;
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include focus($width: 4px);

		&:hover {
			@include cursor();
		}
	}
}
