@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';
@import '../../../assets/styles/wrappers.scss';

.contact-form {
	display: flex;
	flex-direction: column;

	&__info {
		font-size: 12px;
		margin-left: auto;
	}

	&__buttons {
		@include flex($direction: row, $justify-content: flex-end);
		gap: $padding-basic;
	}
}
