@use '../../../assets/styles/variables.scss' as *;
@use '../../../assets/styles/mixins.scss' as *;
@use '../../../assets/styles/wrappers.scss' as *;

.contact-form {
	display: flex;
	flex-direction: column;

	&__info {
		font-size: 12px;
		margin-left: auto;
	}

	&__buttons {
		@include flex($direction: row, $justify-content: flex-end);
		gap: $padding-basic;
	}

	&__enter {
		opacity: 0;

		&--active {
			opacity: 1;
			transition: opacity 400ms ease-in;
		}
	}

	&__exit {
		opacity: 1;

		&--active {
			opacity: 0;
			transition: opacity 400ms ease-out;
		}
	}
}
