@use './../../../../../assets/styles/variables.scss' as *;
@use './../../../../../assets/styles/colors.scss' as *;

.control {
	background: transparent;
	position: relative;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: $border-radius;
	width: $icon-size;
	height: $icon-size;
	padding: 0;
	cursor: pointer;
	color: $primary-color;
	transition: background-color 0.15s ease, transform 0.08s ease, color 0.15s ease;

	svg {
		width: $icon-size;
		height: $icon-size;
	}

	&:hover {
		background-color: transparent;
		color: $primary-dark;
	}
}
