@use '../../../../../assets/styles/variables.scss' as *;
@use '../../../../../assets/styles/colors.scss' as *;

.menuSwitch {
	display: flex;

	&__element {
		padding: 0 $padding-basic;
		display: flex;
		align-items: center;
		gap: $spacing-basic;
		background-color: $grey-switch;
		border: 2px solid $grey-switch;
		width: 100px;
		height: 40px;

		&:first-child {
			border-radius: $border-radius 0 0 $border-radius;
		}
		&:last-child {
			border-radius: 0 $border-radius $border-radius 0;
		}

		&:hover {
			background-color: $primary-color-20;
			border-color: $primary-color-20;
			cursor: pointer;
		}

		&--active {
			border: 2px solid $primary-color;

			&:hover {
				background-color: $grey-switch;
				border-color: $primary-color;
				cursor: initial;
			}
		}
	}

	&__flag {
		display: block;
		width: 24px;
		height: 24px;
		border-radius: 100%;
		background-color: white;
	}

	&__label {
		font-size: 0.75rem;
	}
}
