@use '../../../assets/styles/variables.scss' as *;
@use '../../../assets/styles/mixins.scss' as *;

.pageNotFound {
	@include flex;
	height: 100%;

	@include breakpoint(large) {
		flex-direction: row;
	}

	&__description {
		@include flex;
		flex-basis: 50%;
		padding: $padding-basic;
		text-align: center;
	}

	&__code {
		margin-bottom: 0;

		@include breakpoint(large) {
			font-size: 6rem;
		}
	}

	&__hero {
		position: relative;
		flex-basis: 50%;
		height: 100%;
		width: 100%;
	}

	&__hero-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
