@use '../../../../assets/styles/mixins.scss' as *;

.gallery-image {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	@include transition(transform);

	&:hover {
		cursor: pointer;
		transform: scale(1.16);
	}

	&__loading {
		filter: blur(10px);
		clip-path: inset(0);
	}

	&__loaded {
		filter: blur(0);
	}
}
