$font-normal: 400;
$font-bold: 600;

$transition-effect: ease-in-out;
$transition-time: 0.5s;

$header-height: 5rem;
$header-height-xs: 3rem;
$footer-height: $header-height;
$footer-height-xs: $header-height-xs;

$container-max-width: 1600px;

$padding-basic: 8px;
$padding-wrapper: $padding-basic * 6;
$padding-wrapper-xs: $padding-basic;

$breakpoints: (
	small: 480px,
	medium: 768px,
	large: 1024px
);
