@import './variables.scss';
@import './mixins.scss';

.wrapper {
	max-width: $container-max-width;
	margin: 0 auto;

	@include breakpoint(large) {
		padding: 0 $padding-basic;
	}
}

.wrapper-s {
	max-width: $container-s-max-width;
	margin: 0 auto;
	text-align: left;
	padding: 0 $padding-basic;
}
