@use './../../../assets/styles/colors.scss' as *;
@use './../../../assets/styles/variables.scss' as *;
@use './../../../assets/styles/mixins.scss' as *;

.link {
	color: $text-dark;
	font-weight: $font-bold;
	text-decoration: none;
	padding: 0 $padding-basic;
	white-space: nowrap;
	z-index: 1001;

	@include hover;

	@include focus;
}
