@use './../../../assets/styles/colors.scss' as *;
@use './../../../assets/styles/variables.scss' as *;
@use './../../../assets/styles/mixins.scss' as *;

.link {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	z-index: 1001;
	@include hover;
	@include focus;
}

.primaryText {
	color: var(--text-dark);
	font-weight: 700;
	font-size: 1rem;
	white-space: nowrap;
	line-height: 1;
}

.secondaryText {
	color: var(--primary-color);
	font-size: 0.6875rem;
	font-weight: 600;
	white-space: nowrap;
	line-height: 1;
	margin-top: 4px;
}
