@import './../../../assets/styles/colors.scss';
@import './../../../assets/styles/variables.scss';
@import './../../../assets/styles/mixins.scss';

.link {
	color: $text-dark;
	font-weight: $font-bold;
	text-decoration: none;
	padding: 0 $padding-basic;
	z-index: 1001;

	@include hover;

	@include focus;
}
