@use './../../../../../assets/styles/variables.scss' as *;
@use './../../../../../assets/styles/colors.scss' as *;
@use './../../../../../assets/styles/mixins.scss' as *;

.control {
	position: relative;
	background: transparent;
	border: 1px solid $grey-medium;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: $icon-size;
	height: $icon-size;
	line-height: 0;
	overflow: visible;
	box-sizing: border-box;
	cursor: pointer;
	transition: border 0.15s ease;
	padding: 0;
	margin: 0;
	appearance: none;

	svg {
		width: $icon-size;
		height: $icon-size;
		display: block;
		border-radius: 50%;
		overflow: hidden;
	}

	&:hover {
		border: 1px solid $primary-color;
	}
}
