@use './../../../../assets/styles/colors.scss' as *;
@use './../../../../assets/styles/variables.scss' as *;
@use './../../../../assets/styles/mixins.scss' as *;

.input {
	@include flex($align-items: initial);
	width: 100%;

	&__wrapper {
		@include flex($align-items: initial, $justify-content: flex-start);
		width: 100%;
		min-height: 72px;
	}

	&__element {
		padding: $padding-basic * 2;
		background-color: var(--primary-light);
		color: var(--secondary-color);
		border: 2px solid $grey-medium;
		border-radius: $border-radius;
		font-family: $font-family;
	}

	&__label {
		font-size: 14px;
		font-weight: $font-bold;
	}

	&__asterix {
		font-weight: normal;
	}

	&__error {
		font-size: 11px;
		font-weight: $font-bold;
		color: $primary-color;
	}
}

::placeholder {
	font-family: $font-family;
}
