@use './../../../assets/styles/variables.scss' as *;
@use './../../../assets/styles/mixins.scss' as *;

.header {
	@include flex($direction: row, $justify-content: space-between);
	height: $header-height-xs;
	width: 100%;
	max-width: $container-max-width;
	padding: 0 $padding-basic;
	box-sizing: border-box;

	@include breakpoint(large) {
		justify-content: flex-start;
		height: $header-height;
	}

	@include breakpoint(xlarge) {
		padding: 0;
	}
}
